html {
	box-sizing: border-box;
	font-size: 62.5%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	font-size: 1rem;
	font-family: 'Poiret One', cursive;
}

a {
	text-decoration: none;
}

p {
	font-size: 1.8rem;
	line-height: 1.5;
	margin: 2rem 0;
	text-align: justify;
}

svg {
	width: 2rem;
	margin-right: 1rem;
}

.hero {
	min-height: 60vh;
	background-image: url('/35.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.75);
}

.nav {
	background-image: linear-gradient(111.6deg, rgba(174, 68, 223, 1) 27.3%, rgba(246, 135, 135, 1) 112.7%);
	z-index: 999;
	font-size: 2rem;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0%;
}
.nav a {
	padding: 2rem;
	flex: 1;
	text-align: center;
	cursor: pointer;
	color: #ffffff;
	transition: letter-spacing 0.6s cubic-bezier(0.36, 0, 0.66, -0.56);
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav a:hover {
	letter-spacing: 10px;
}

.section {
	max-width: 80%;
	margin: 4rem auto;
}
